nav, header, footer,.container{
max-width: 92%;
margin: auto;
}

body{
    background-color: rgb(21, 64, 119);
    color: white;
}
nav{
    background-color: lightskyblue;
    text-align: center;
}
header{
    background-color: orange;
}
footer{
    background-color: orange;
}
.intro
{
 color: orange;
 display: inline-block;
 max-width: 65%;
}
aside{
    display: inline-block;
    max-width: 27%;
   }
.menu li{
      display: inline-block ;
}
    li a, boton{
        display: inline-block;
        color: firebrick;
        text-align: center;
        text-decoration: none;
    }
.lista{
    display: none;
    background-color: floralwhite;
    position: absolute;
}
.lista a{
    color: black;
    display: block;
    text-align: left;
}
.boton:hover .lista{
    display: block;
}